<div class="container">
    <h1>Zagrożenia wodne</h1>
    <div class="row">
        <form class="example-form" [formGroup]="form">
            <div class="row location">
                <mat-label>Lokalizacja zagrożenia</mat-label>
                <mat-form-field> <input matInput formControlName="location" /></mat-form-field>
                <img src="../../assets/target.png" />
            </div>
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Katergoria</mat-label>
                    <mat-select formControlName="category">
                        <mat-option value="1">Wysoki poziom wody w rzece</mat-option>
                        <mat-option value="2">Podtopienia budynków</mat-option>
                        <mat-option value="3">Zalanie drogi lub dojazdu</mat-option>
                        <mat-option value="4">Inny rodzaj</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            Zaznacz możliwe okoliczności<br />
            <div class="row tm">
                <mat-chip-list class="example-chip" #tagList multiple formControlName="tags">
                    <mat-chip
                        class="example-box"
                        cdkDrag
                        *ngFor="let tag of tags"
                        [selected]="form.value.tags.includes(tag)"
                        (click)="selectTag(tag)"
                    >
                        {{ tag }}
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div class="row tm">
                <mat-form-field>
                    <mat-label>Opis problemu</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
            <div class="add-file">+ Dodaj zdjęcie lub nagranie</div>
            <!--
                Twoje dane<br />
            Podanie poniższych danych sluży poinformowaniu Cię o postępach zgłoszenia.
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Imię*</mat-label>
                    <input matInput name="name" formControlName="name" />
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Nazwisko*</mat-label>
                    <input matInput name="surname" formControlName="surname" />
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Adres e-mail</mat-label>
                    <input matInput name="email" formControlName="email" />
                </mat-form-field>
            </div>
        -->
            <div class="row tm">
                <mat-form-field appearance="fill">
                    <mat-label>Twój numer telefonu</mat-label>
                    <input matInput name="phone" formControlName="phone" />
                </mat-form-field>
            </div>
            Na podany nr tlefonu otrzymasz kod sms do potwierdzenia zgłoszenia.

            <div class="form-footer tm">
                W razie zagrożenia Twojego życia lub zdrowia skontaktuj się pod nr 112.
                <div class="tm">
                    <button mat-raised-button color="primary" type="submit" (click)="submit()">
                        Wyślij zgłoszenie
                    </button>
                </div>
            </div>
            <section class="agreements tm">
                <span class="example-list-section">
                    <mat-checkbox class="example-margin" (change)="setAll($event.checked)">
                        Zaznacz wszystko
                    </mat-checkbox>
                </span>
                <span class="example-list-section">
                    <ul>
                        <li *ngFor="let agree of agrees">
                            <mat-checkbox [checked]="agree.completed">
                                {{ agree.desc }}
                            </mat-checkbox>
                        </li>
                    </ul>
                </span>
            </section>
        </form>
        <img src="../../assets/umbrella.png" alt="umbrella" />
    </div>
</div>
{{ form.value | json }}
