<section>
    <h1><span>Zgłoś</span>nie zalewaj!</h1>
    <p>Twoje zgłoszenie może mieć realny wpływ na bezpieczeństwo Twoje i innych mieszkańców Rzeszowa.</p>
    <button mat-stroked-button color="primary">Primary</button>
</section>
<section>
    <google-map [center]="smallMapOptions.center!" [height]="smallMapSize.height" [width]="smallMapSize.width"></google-map>

    <button mat-stroked-button color="primary">Mapa zgłoszeń</button>
</section>
<section id="dlaczego">
    <h1>Dlaczego warto</h1>
</section>
