:host {
    min-height: 100%;
    display: block;
    display: flex;
    flex-direction: column;
}

.example-spacer {
    flex: 1 1 auto;
}

a {
    text-decoration: none;
    color: #000;
}

nav.desktop-only {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f8f9fa;

    div {
        display: flex;
        flex-direction: row;
    }

    .links {
        padding-left: 15px;
        align-items: center;

        img {
            margin-right: 32px;
        }

        a {
            font-size: 18px;
            line-height: 17px;
            font-weight: 900;
            display: block;
            margin-right: 31px;
        }
    }

    .login-local {
        margin-right: 15px;
    }
}
