<div class="map-container">
    <div class="left-bar desktop-only">
        <img src="../../../assets/v1.png" /><br />Mapa zgłoszeń <img src="../../../assets/akar.png" /><br />Mapa
        zagrożeń
    </div>
    <google-map
        #map
        [center]="options.center!"
        [zoom]="options.zoom!"
        [height]="size.height"
        [width]="size.width"
        [options]="options"
        (idle)="onIdle($event)"
        (mapClick)="onMapClick($event)"
    >
        <ng-component *ngFor="let place of places">
            <map-marker
                [position]="place.position"
                [title]="place.descripton"
                [label]="place.label"
                [options]="place.options"
                (click)="onMarkerClick(place)"
                (mapClick)="onMarkerClick(place)"
            >
            </map-marker>
        </ng-component>
    </google-map>
    <div class="control timetravel">
        <mat-slider></mat-slider>
    </div>
    <img class="control time rewind" src="../../../assets/rewind.png" alt="" />
    <img class="control filter water" src="../../../assets/water.png" alt="" (click)="setType('water')" />
    <img class="control filter smog" src="../../../assets/air.png" alt="" (click)="setType('air')" />
    <img class="control zoom-in" src="../../../assets/plus.png" alt="" />
    <img class="control zoom-out" src="../../../assets/minus.png" alt="" />
    <div class="right-bar desktop-only"></div>
    <div class="place-details" *ngIf="popupOpen">
        Lokalizacja: {{ popupData.position.lat() }}, {{ popupData.position.lng() }}<br />
        Adres: ul. <br />
        {{ popupData.description }} <br />
        {{ popupData.confirmed ? "Potwierdzone" : "Niepotwierdzone" }}
    </div>
</div>
